<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DFW Scene | Best Places to Go Out in Dallas-Fort Worth</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Open Graph / Social Media Meta Tags -->
		<meta property="og:title" content="DFW Scene | Best Places to Go Out in Dallas-Fort Worth" />
		<meta property="og:description" content="Find your scene in Dallas-Fort Worth — Brunch, date nights, happy hours, lounges, Black-owned gems and more." />
		<meta property="og:image" content="https://dfwscene.app/Logo-DFWScene-s.png" />
		<meta property="og:url" content="https://dfwscene.app/" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="DFW Scene" />
		
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={Astro.props.title} />
		<meta name="twitter:description" content="Find your scene in Dallas-Fort Worth — Brunch, date nights, happy hours, lounges, Black-owned gems and more." />
		<meta name="twitter:image" content="https://dfwscene.app/Logo-DFWScene-s.png" />

		<!-- Additional Meta Tags -->
		<meta name="description" content="Explore the best restaurants, bars, lounges, brunch spots, and nightlife venues across Dallas-Fort Worth with curated vibes, audience, and atmospheres." />
		<meta name="keywords" content="Dallas nightlife, DFW hotspots, brunch in Dallas, date spots DFW, live music Dallas, black-owned venues Dallas, chill bars, Arlington, Las Colinas, Plano, Frisco, Irving, Grand Prairie, Mansfield, Carrollton, Richardson, Desoto, Duncanville, Cedar Hill, Lewisville, Fort Worth, where to go out in DFW" />
		<meta name="author" content="Tia Ross" />
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-REEXGD3XZT"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-REEXGD3XZT');
	</script>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>